.basic_table{
    direction: rtl;
    margin: 5px;
    font-size: 35px;
}
.mytitleh2{
    direction: rtl;
    margin: 5px;
    font-size: 30px;
}
.capture{

    border: 7px solid  #00c292;

}
.notShadow{
    box-shadow: none;
}
.persianTable{
  font-size-adjust: 0.5;
}

.disabled{
  pointer-events: none;
}
.pForDiagram{
    font-size: 218px;
}