<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}تشخیص پلاک وسایل نقلیه{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}
    سامانه ی هوشمند تشخیص پلاک خودرو، موتورسیکلت، وسایل نقلیه ی عمومی و پلاک های خاص
    {% endblock %}">
    {% include "header.html" %}
    {% block extra_header %}{% endblock %}
</head>

<body>
{% include 'navbar.html' %}
{% block menu %}
{% include 'menu.html' %}
{% endblock %}
{% block content %} {% endblock %}
{% include 'footer.html' %}
{% block extra_scripts %} {% endblock %}
{% include 'scripts.html' %}

</body>

</html>