{% extends 'base.html' %}
{% load static %}

{% block extra_header %}
    <link href="{% static 'css/cvp-specials/hide-show-fields-form.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/cvp-specials/multi-page-form.css' %}" rel="stylesheet"/>
    <link href="{% static 'style.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <!-- third try -->
    <form name="multiPageForm" id="register-form" action="{% url 'register' %}" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <input name="form-key" value="ثبت-مشخصات" hidden>

        <h1>ثبت وسیله ی نقلیه جدید</h1>
        <!-- One "tab" for each step in the form: -->

        {% if status == -1 %}
            <div class="alert alert-danger alert-dismissible" style="text-align: right">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>خطا!</strong> مشخصات شما در سامانه ثبت نشد، حتما از صحت اطلاعات ورودی و منحصر به فرد بودن پلاک
                در سامانه اطمینان حاصل فرمایید
            </div>
        {% elif status == 1 %}
            <div class="alert alert-success alert-dismissible" style="text-align: right">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                مشخصات وارد شده با موفقیت در سامانه ثبت شد
            </div>
        {% endif %}

        <div class="tab">


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ic-cmp-int">
                    <div class="nk-int-st">
                        <p style="text-align: right;">مشخصات مالک</p>
                    </div>
                    <div class="form-ic-cmp">
                        <i class="notika-icon notika-support"></i>
                    </div>
                </div>
            </div>

            <select class="form-control" id="owner_select">
                <option value="new_owner">ثبت مالک جدید</option>
                <option value="old_owner">از مالکین ثبت شده در سیستم</option>
            </select>
            <br>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="owner_lastname_div">
                    <div class="form-group">
                        <div class="nk-int-st">
                            {#{{ register_form.owner_firstname }}#}
                            <input type="text" class="form-control" maxlength="30" placeholder="نام خانوادگی"
                                   name="owner_lastname">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="owner_firstname_div">
                    <div class="form-group">
                        <div class="nk-int-st">
                            {#{{ register_form.owner_firstname }}#}
                            <input type="text" class="form-control" maxlength="20" placeholder="نام"
                                   name="owner_firstname">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="owner_phone_div">
                    <div class="form-group ic-cmp-int">
                        <div class="nk-int-st">
                            {#{{ register_form.owner_phone }}#}
                            <input type="number" class="form-control" placeholder="شماره تماس"
                                   name="owner_phone"
                                   onKeyDown="if(this.value.length==11 && event.keyCode!==8) return false;">
                        </div>
                        <div class="form-ic-cmp">
                            <i class="notika-icon notika-phone"></i>
                        </div>
                    </div>
                </div>

                <div id="owner_nationalcode_div">
                    <div class="form-group ic-cmp-int">
                        <div class="nk-int-st">
                            {#{{ register_form.owner_nationalcode }}#}
                            <input type="number" class="form-control" placeholder="کد ملی"
                                   name="owner_nationalcode"
                                   onKeyDown="if(this.value.length==10 && event.keyCode!==8) return false;">
                        </div>
                        <div class="form-ic-cmp">
                            <i class="notika-icon notika-credit-card"></i>
                        </div>
                    </div>
                </div>

                {#            {{ register_form.owner_description }}#}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="owner_description_div">
                    <div class="form-group">
                        <div class="nk-int-st">
                    <textarea class="form-control auto-size" rows="2" maxlength="300" name="owner_description"
                              placeholder="توضیحات"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" id="owner_picture_div">
                <div class="form-group ic-cmp-int">
                    <div class="nk-int-st">
                        <p style="text-align: right;">تصویر مالک</p>
                    </div>
                    <div class="form-ic-cmp">
                        <i class="notika-icon notika-picture"></i>
                    </div>
                </div>
            </div>
            {{ register_form.owner_picture }}
            {#            <p><input placeholder="First name..." oninput="this.className = ''" name="fname"></p>#}
            {#            <p><input placeholder="Last name..." oninput="this.className = ''" name="lname"></p>#}
        </div>

        <div class="tab">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ic-cmp-int">
                    <div class="nk-int-st">
                        <p style="text-align: right;">نوع خودرو</p>
                    </div>
                    <div class="form-ic-cmp">
                        <i class="notika-icon notika-chat"></i>
                    </div>
                </div>
            </div>

            {{ register_form.plate_type }}
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ic-cmp-int">
                    <div class="nk-int-st">
                        <p style="text-align: right;">شماره پلاک</p>
                    </div>
                    <div class="form-ic-cmp">
                        <i class="notika-icon notika-app"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="plate_firstnum_div">
                <div class="form-group">
                    <div class="nk-int-st">
                        {#            {{ register_form.plate_firstnum }}#}
                        <input type="number" class="form-control" placeholder="۹۹"
                               name="plate_firstnum"
                               onKeyDown="if(this.value.length==2 && event.keyCode!==8) return false;"
                               id="plate_firstnum_id">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="plate_alpha_div">
                <div class="form-group">
                    <div class="nk-int-st">
                        {#            {{ register_form.plate_alpha }}#}
                        {#                        <input type="text" class="form-control" maxlength="30" placeholder="الف"#}
                        {#                               name="plate_alpha">#}

                        {{ register_form.plate_alpha }}
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="plate_secondnum_div">
                <div class="form-group">
                    <div class="nk-int-st">
                        {#            {{ register_form.plate_secondnum }}#}
                        <input type="number" class="form-control"
                               name="plate_secondnum"
                               onKeyDown="if(this.value.length==3 && event.keyCode!==8) return false;"
                               id="plate_secondnum_id">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="plate_citynum_div">
                <div class="form-group">
                    <div class="nk-int-st">
                        {#            {{ register_form.plate_citynum }}#}
                        <input type="number" class="form-control" placeholder="کد شهر"
                               name="plate_citynum"
                               onKeyDown="if(this.value.length==3 && event.keyCode!==8) return false;">
                    </div>
                </div>
            </div>
            <p style="text-align: right">مقادیر را به همان ترتیب مطالعه ی پلاک از سمت چپ به راست وارد کنید</p>

            {#            <p><input placeholder="E-mail..." oninput="this.className = ''" name="email"></p>#}
            {#            <p><input placeholder="Phone..." oninput="this.className = ''" name="phone"></p>#}
        </div>

        <div class="tab">


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ic-cmp-int">
                    <div class="nk-int-st">
                        <p style="text-align: right;">مشخصات ظاهری</p>
                    </div>
                    <div class="form-ic-cmp">
                        <i class="notika-icon notika-edit"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <div class="nk-int-st">
                        {#                                        {{ register_form.vehicle_color }}#}

                        <input list="colors" type="text" class="form-control" maxlength="20"
                               placeholder="رنگ وسیله نقلیه"
                               name="vehicle_color">
                        <datalist id="colors">
                            <option value="سفید">
                            <option value="مشکی">
                            <option value="نوک مدادی">
                            <option value="نقره ای">
                            <option value="بژ">
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <div class="nk-int-st">
                        {#                                        {{ register_form.vehicle_type }}#}

                        <input list="types" type="text" class="form-control" maxlength="30"
                               placeholder="نوع وسیله نقلیه"
                               name="vehicle_type">
                        <datalist id="types">
                            <option value="پراید">
                            <option value="پژو ۴۰۵">
                            <option value="پژو ۲۰۶">
                            <option value="پژو ۲۰۷">
                            <option value="پژو پارس">
                        </datalist>
                    </div>
                </div>
            </div>


            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ic-cmp-int">
                    <div class="nk-int-st">
                        <p style="text-align: right;">تصویر وسیله نقلیه</p>
                    </div>
                    <div class="form-ic-cmp">
                        <i class="notika-icon notika-picture"></i>
                    </div>
                </div>
            </div>
            {{ register_form.vehicle_picture }}
            {#            <p><input placeholder="dd" oninput="this.className = ''" name="dd"></p>#}
            {#            <p><input placeholder="mm" oninput="this.className = ''" name="nn"></p>#}
            {#            <p><input placeholder="yyyy" oninput="this.className = ''" name="yyyy"></p>#}
        </div>

        {#        <div class="tab">Login Info:#}
        {#            <p><input placeholder="Username..." oninput="this.className = ''" name="uname"></p>#}
        {#            <p><input placeholder="Password..." oninput="this.className = ''" name="pword" type="password"></p>#}
        {#        </div>#}
        <br>
        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">بخش قبلی</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">بخش بعدی</button>
            </div>
        </div>
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>

    </form>

    <!-- first try -->
    {#    <form class="p-3">#}
    {#        <div class="form-group">#}
    {#            <label for="name">Name</label>#}
    {#            <input type="text" class="form-control" id="name" placeholder="Joe Smith">#}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#            <label for="seeAnotherField">Do You Want To See Another Field?</label>#}
    {#            <select class="form-control" id="seeAnotherField">#}
    {#                <option value="no">No Way.</option>#}
    {#                <option value="yes">Absolutely!</option>#}
    {#            </select>#}
    {#        </div>#}
    {#        <div class="form-group" id="otherFieldDiv">#}
    {#            <label for="otherField">Here you go!</label>#}
    {#            <select class="form-control" id="otherField">#}
    {#                <option>Yay</option>#}
    {#                <option>Woo</option>#}
    {#                <option>Hazah</option>#}
    {#                <option>Yipee</option>#}
    {#                <option>Hoorah</option>#}
    {#            </select>#}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#            <label for="seeAnotherFieldGroup">Do You Want To See Another Group of Fields?</label>#}
    {#            <select class="form-control" id="seeAnotherFieldGroup">#}
    {#                <option value="no">Not Particularly.</option>#}
    {#                <option value="yes">I Guess!</option>#}
    {#            </select>#}
    {#        </div>#}
    {#        <div class="form-group" id="otherFieldGroupDiv">#}
    {#            <div class="row">#}
    {#                <div class="col-6">#}
    {#                    <label for="otherField1">Group: Heres One!</label>#}
    {#                    <input type="text" class="form-control w-100" id="otherField1">#}
    {#                </div>#}
    {#                <div class="col-6">#}
    {#                    <label for="otherField2">Group: Another One!</label>#}
    {#                    <input type="text" class="form-control w-100" id="otherField2">#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {##}
    {##}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#            <label for="comments">Comments/Questions</label>#}
    {#            <textarea class="form-control" id="comments" rows="3"></textarea>#}
    {#        </div>#}
    {#        <button type="submit" class="btn btn-primary">Submit</button>#}
    {#    </form>#}

{% endblock %}

{% block extra_scripts %}

    <script src="{% static 'js/main.js' %}"></script>

    <!-- textarea autosize: -->
    <script src="{% static 'js/autosize.min.js' %}"></script>

    <!-- .......................................................................................... -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <script src="{% static 'js/cvp-specials/hide-show-fields-form.js' %}"></script>
    <script src="{% static 'js/cvp-specials/multi-page-form.js' %}"></script>
{% endblock %}
