

{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
            href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Start Sale Statistic area-->
    <div class="sale-statistic-area">
        <div class="container">
            <div class="row">
                {#                     <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">#}
                {#                    <div class="sale-statistic-inner notika-shadow mg-tb-30">#}
                {#                        <div class="curved-inner-pro">#}
                {#                            <div class="curved-ctn">#}
                {#                                <h2>Sales Statistics</h2>#}
                {#                                <p>Vestibulum purus quam scelerisque, mollis nonummy metus</p>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div id="curved-line-chart" class="flot-chart-sts flot-chart">#}
                {#                            <video>#}
                {#                            <source src="https://as7.cdn.asset.aparat.com/aparat-video/0c17ad339218a4cdfdd20037f63508b02665200-224p.mp4" type="video/mp4"></video>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="col-lg-12 col-md-12 col-sm-11 col-xs-12">
                    <div class="mg-tb-30">
                        <div class="embed-responsive embed-responsive-16by9 capture">
                            <iframe class="embed-responsive-item"
                                    src=""
                                    allowfullscreen></iframe>
                        </div>
                        {#                        <div>#}
                        {#                            <video class="capture " autoplay>#}
                        {#                            <source src="https://as7.cdn.asset.aparat.com/aparat-video/0c17ad339218a4cdfdd20037f63508b02665200-224p.mp4" type="video/mp4"></video>#}
                        {#                        </div>#}


                    </div>

                </div>
                {#                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">#}
                {#                    <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0">#}
                {#                        <div class="past-day-statis">#}
                {#                            <h2>For The Past 30 Days</h2>#}
                {#                            <p>Fusce eget dolor id justo luctus the commodo vel pharetra nisi. Donec velit of libero.</p>#}
                {#                        </div>#}
                {#						<div class="dash-widget-visits"></div>#}
                {#                        <div class="past-statistic-an">#}
                {#                            <div class="past-statistic-ctn">#}
                {#                                <h3><span class="counter">3,20,000</span></h3>#}
                {#                                <p>Page Views</p>#}
                {#                            </div>#}
                {#                            <div class="past-statistic-graph">#}
                {#                                <div class="stats-bar"></div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div class="past-statistic-an">#}
                {#                            <div class="past-statistic-ctn">#}
                {#                                <h3><span class="counter">1,03,000</span></h3>#}
                {#                                <p>Total Clicks</p>#}
                {#                            </div>#}
                {#                            <div class="past-statistic-graph">#}
                {#                                <div class="stats-line"></div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div class="past-statistic-an">#}
                {#                            <div class="past-statistic-ctn">#}
                {#                                <h3><span class="counter">24,00,000</span></h3>#}
                {#                                <p>Site Visitors</p>#}
                {#                            </div>#}
                {#                            <div class="past-statistic-graph">#}
                {#                                <div class="stats-bar-2"></div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </div>
    <!-- End Sale Statistic area-->

    <!-- Data Table area Start-->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div id="table" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h1 class="basic_table"> جدول گزارش تردد<span class="breadcomb-report">
                                    <button onclick="window.location='{% url 'download_report' %}';"
                                            data-toggle="tooltip" data-placement="left" title="دانلود گزارش"
                                            class="btn"><i class="notika-icon notika-sent"></i></button>
                            </span></h1>

                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>تاریخ عبور</th>
                                    <th>ساعت عبور</th>
                                    <th>پلاک</th>
                                    <th>مجوز عبور</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for data in Taradod_list %}
                                    <tr {% if data.approved %}style="cursor: pointer;"
                                        onclick="window.location='{{ data.get_absolute_url }}';"{% endif %}>
                                        <td class="persianTable">{{ data.seen.date }}</td>
                                        <td class="persianTable">{{ data.seen.hour }}:{{ data.seen.minute }}:{{ data.seen.second }}</td>

                                        <td class="persianTable">{{ data.plate }}</td>

                                        {% if data.approved == True %}
                                            <td>
                                                <button class="disabled  button-icon-btn btn btn-success success-icon-notika btn-reco-mg ">
                                                    <i class="notika-icon notika-checked"></i></button>
                                                <p class="hidden">True</p></td>
                                        {% endif %}

                                        {% if data.approved == False %}
                                            <td>
                                                <button class="disabled  button-icon-btn btn btn-danger danger-icon-notika btn-reco-mg">
                                                    <i class="notika-icon notika-close"></i></button>
                                                <p class="hidden">False</p></td>
                                        {% endif %}


                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>

                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Table area End-->


{% endblock content %}
{% block extra_scripts %}
    <script>

        setInterval(function () {

            $('#table').load("index");

        }, 1000);
    </script>
{% endblock %}