{% load static %}
<!-- Mobile Menu start -->
<div>

{#{% if not user.is_authenticated %}#}
{#    <a href="{% url 'login' %}"><span#}
{#            class="id_user"> ورود</span></a>#}
{#    <!--TODO: Add profile page if needed-->#}
{#{% else %}#}
{#    <a href="{% url 'logout' %}"><span class="id_user">{{ user.profile.approved }}  [خروج]</span></a>#}
{#{% endif %}#}

</div>
<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            <li><a data-toggle="collapse" data-target="#demo" href="#">نظارت</a>
                                <ul id="demo" class="collapse dropdown-header-top">
                                    <li><a href="{% url 'index' %}">نظارت انلاین</a></li>
                                    <li><a href="{% url 'table' %}">گزارشات</a></li>
                                </ul>
                            </li>

                            </li>
                            <li><a data-toggle="collapse" data-target="#Pagemob" href="#">ثبت نام</a>
                                <ul id="Pagemob" class="collapse dropdown-header-top">
                                    <li><a href="{% url 'register' %}">خودرو مجاز</a>
                                    </li>
                                    <li><a href="{% url 'login' %}">کاربر سیستمی</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu end -->
<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li><a data-toggle="tab" href="#Forms"><i class="notika-icon notika-form"></i>نظارت</a>
                    </li>
                    <li><a data-toggle="tab" href="#Page"><i class="notika-icon notika-support"></i>ثبت نام</a>
                    </li>
                </ul>
                <div class="tab-content custom-menu-content">

                    <div id="Forms" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li><a href="{% url 'index' %}">نظارت انلاین</a>
                            </li>
                            <li><a href="{% url 'table' %}">گزارشات</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Appviews" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">

                        </ul>
                    </div>
                    <div id="Page" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li><a href="{% url 'register' %}">خودرو مجاز</a>
                            </li>
                            <li><a href="{% url 'login' %}">کاربر سیستمی</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Menu area End-->