{% load static %}

<!-- Start Header Top Area -->
<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                    <p class="dateCss inout  pr-6" id="date_place"></p>
{#<a href="#"><img src="{% static 'img/logo/logo.png' %}" alt="" /></a>#}


            </div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

{#<a href="#"><img src="{% static 'img/logo/logo.png' %}" alt="" /></a>#}
       <a href="#" class="PageTitle inout pr-6 ">خروج</a>

            </div>
        </div>
    </div>
</div>
<!-- End Header Top Area -->