{% extends 'base.html' %}
{% load static %}

{% block title %}جداول مربوط به تردد وسایل نقلیه{% endblock %}

{% block content %}

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
            href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Start Status area -->
    <div class="notika-status-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">{{ todayCount }}</span></h2>
                            <p>24 ساعت گذشته</p>
                        </div>
                        <div class="sparkline-bar-stats2">
                            {% for day in today %}
                                {{ day }},
                            {% endfor %}
                        </div>
                    </div>
                </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class=" wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class=" website-traffic-ctn">
                            <h2><span class="counter">50,000</span></h2>
                            <p>هفت روز گذشته</p>
                        </div>
                        <div class="sparkline-bar-stats1">1,4,8,3,5,6,4,</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2>$<span class="counter">40,000</span></h2>
                            <p class="pForDiagram">ماه گذشته</p>
                        </div>
                        <div class="sparkline-bar-stats3">4,2,8,2,5,6,3,8,3,5,8,3,5,6,4,4,2,8,2,5,6,3,8,3,5,8,3,5,6,4</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">1,000</span></h2>
                            <p class="pForDiagram">سال گذشته</p>
                        </div>
                        <div class="sparkline-bar-stats4">2,4,8,4,5,7,4,7,3,5,7,5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- End Status area-->
    <!-- Breadcomb area Start-->
    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-windows"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Data Table</h2>
                                        <p>You can download the data excel from here </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                                <div class="breadcomb-report">
                                    <button data-toggle="tooltip" data-placement="left" title="Download Report"
                                            class="btn"><i class="notika-icon notika-sent"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcomb area End-->
    <!-- Data Table area Start-->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h1 class="basic_table">جدول گزارش تردد</h1>
                            {#                            <p>It's just that simple. Turn your simple table into a sophisticated data table and offer your users a nice experience and great features without any effort.</p>#}
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                <tr>
                                        <th>پلاک</th>
                                        <th>رنگ خودرو</th>
                                        <th>مدل خودرو</th>
                                        <th>مجوز عبور </th>
                                        <th>تاریخ</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for data in Taradod_list %}
                                <tr>

                                    <td class="persianTable">{{ data.plate }}</td>
                                    <td class="persianTable">{{ data.color }}</td>
                                    <td class="persianTable">{{ data.type }}</td>
                                    {% if data.approved == True %}
                                        <td>
                                            <button  class=" disabled  button-icon-btn btn btn-success success-icon-notika btn-reco-mg "><i class="notika-icon notika-checked"></i></button></td>
                                    {% endif%}

                                    {% if data.approved == False %}
                                        <td><button class="disabled  button-icon-btn btn btn-danger danger-icon-notika btn-reco-mg"><i class="notika-icon notika-close"></i></button></td>
                                    {% endif %}

                                    <td class="persianTable">{{data.seen}}</td>

                                </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>

                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Table area End-->


{% endblock content %}