{% extends 'base.html' %}
{% load static %}

{% block title %}جداول مربوط به تردد وسایل نقلیه{% endblock %}

{% block content %}

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
            href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Data Table area Start-->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h1 class="basic_table" style="text-align: center;
    margin-bottom: 15px;">{{ this_vehicle.plate }}</h1>

<!-- button for changing active status -->
                            <form method='POST'>
                                 {% csrf_token %}
                                <button id="deactive" type='submit' style="text-align: center;
    margin: 0 auto;
    display: block;font-size: 22px;" class="btn btn-danger notika-btn-danger">غیر فعال سازی</button>

                            </form>
<!-- end of button for changing active status -->


                        </div>

                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: center;">
                                <h2>مشخصات مالک</h2>
                                <hr>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <h3>{{ this_vehicle.owner.first_name }} {{ this_vehicle.owner.family_name }} <span>
                                        <i class="notika-icon notika-support"></i></span></h3>
                                    {#                                    <h3>amirhossein</h3>#}
                                    <h4>({{ this_vehicle.owner.description }})</h4>
                                    <h4>شماره تماس {{ this_vehicle.owner.phone }} <span>
                                        <i class="notika-icon notika-phone"></i></span></h4>
                                    <h4>کد ملی {{ this_vehicle.owner.phone }} <span>
                                        <i class="notika-icon notika-credit-card"></i></span></h4>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <h4>تصویر مالک <span>
                                        <i class="notika-icon notika-picture"></i></span></h4>
                                    <img src="{{ this_vehicle.owner.img.url }}" alt="تصویر مالک">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: center">
                                <h2>مشخصات خودرو</h2>
                                <hr>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <h3>{{ this_vehicle.type }} {{ this_vehicle.color }}</h3>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <h4>تصویر خودرو <span>
                                        <i class="notika-icon notika-picture"></i></span></h4>
                                    <img src="{{ this_vehicle.img.url }}" alt="تصویر خودرو">
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="table-responsive">
                            <h2 style="text-align: right">جدول ترددهای پیشین</h2>
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>تاریخ عبور</th>
                                    <th>ساعت عبور</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for data in taradods %}
                                    <tr>


                                        <td class="persianTable">{{ data.seen.date }}</td>
                                        <td class="persianTable">{{ data.seen.hour }}:{{ data.seen.minute }}:{{ data.seen.second }}</td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>

                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Start Status area -->

    <br>
    <!-- End Status area-->


{% endblock content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#{{ this_traffic.plate }}#}
{{ this_vehicle.owner.first_name }} {{ this_vehicle.color }}
</body>
</html>